@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Instrumental+Serif:ital@0;1&family=Geist:wght@100..900&family=Gidole&family=DM+Serif+Display&display=swap');

@theme {
  --font-titles: "STIX Two Text", serif;
  --font-body: "Noto Sans", sans-serif;
  --font-instrumental: "Instrumental Serif", serif;
  --font-geist: "Geist", sans-serif;
  --font-gidole: "Gidole", sans-serif;
  --font-dm: "DM Serif Display", serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .hero-image {
    object-position: 65% center !important;
  }
}